# Importing Libraries

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import math

# Dataset Loading
This is a dataset about fish and it's some features like length,height.
I have tried to predict the name of the fish from multiple attributes with multiple linear regression.

In [2]:
df = pd.read_csv("Fish.csv")
display(df)

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

# Exploratory Data Analysis

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [4]:
df.describe(include='all')

,Species,Weight,Length1,Length2,Length3,Height,Width
count,159,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
unique,7,NaN,NaN,NaN,NaN,NaN,NaN
top,Perch,NaN,NaN,NaN,NaN,NaN,NaN
freq,56,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,NaN,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,NaN,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,NaN,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,NaN,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,NaN,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,NaN,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

In [5]:
df.describe(include=object)

       Species
count      159
unique       7
top      Perch
freq        56

In [6]:
df.count()

Species    159
Weight     159
Length1    159
Length2    159
Length3    159
Height     159
Width      159
dtype: int64

In [7]:
df.Species.value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [25]:
df.corr()

          Species    Weight   Length1   Length2   Length3    Height     Width
Species  1.000000  0.066072  0.217057  0.205152  0.200763 -0.186885 -0.143823
Weight   0.066072  1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1  0.217057  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2  0.205152  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3  0.200763  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height  -0.186885  0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width   -0.143823  0.886507  0.867050  0.873547  0.878520  0.792881  1.000000

In [8]:
df["Species"].replace({"Perch": 1, "Bream": 2,"Roach": 3,"Smelt": 4,"Parkki":5,"Whitefish":6,"Pike":7}, inplace=True)
print(df)

     Species  Weight  Length1  Length2  Length3   Height   Width
0          2   242.0     23.2     25.4     30.0  11.5200  4.0200
1          2   290.0     24.0     26.3     31.2  12.4800  4.3056
2          2   340.0     23.9     26.5     31.1  12.3778  4.6961
3          2   363.0     26.3     29.0     33.5  12.7300  4.4555
4          2   430.0     26.5     29.0     34.0  12.4440  5.1340
..       ...     ...      ...      ...      ...      ...     ...
154        4    12.2     11.5     12.2     13.4   2.0904  1.3936
155        4    13.4     11.7     12.4     13.5   2.4300  1.2690
156        4    12.2     12.1     13.0     13.8   2.2770  1.2558
157        4    19.7     13.2     14.3     15.2   2.8728  2.0672
158        4    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [9]:
for col in df.columns:
    print(df[col].value_counts())

1    56
2    35
3    20
7    17
4    14
5    11
6     6
Name: Species, dtype: int64
300.0     6
500.0     5
120.0     5
700.0     5
1000.0    5
         ..
556.0     1
840.0     1
690.0     1
345.0     1
242.0     1
Name: Weight, Length: 101, dtype: int64
19.0    6
20.0    5
22.0    4
20.5    4
24.0    3
       ..
10.8    1
44.8    1
48.3    1
10.7    1
30.9    1
Name: Length1, Length: 116, dtype: int64
22.0    7
35.0    6
40.0    5
22.5    5
21.0    4
       ..
37.3    1
11.2    1
12.2    1
24.6    1
56.0    1
Name: Length2, Length: 93, dtype: int64
23.5    5
36.2    3
45.5    3
25.0    3
22.5    3
       ..
45.8    1
13.2    1
20.8    1
15.2    1
30.0    1
Name: Length3, Length: 124, dtype: int64
11.1366    2
9.6000     2
2.2139     2
5.6925     2
6.1100     2
          ..
16.3618    1
17.6235    1
11.9328    1
12.6040    1
5.8750     1
Name: Height, Length: 154, dtype: int64
3.5250    3
4.3350    2
3.6240    2
6.1440    2
1.1484    2
         ..
3.7250    1
1.2772    1
5.5800    1
6.1712    1
5.1296    1
Name: Width, Length: 152, dtype: int64

In [10]:
print(df.columns)

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [11]:
X = df[[ 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width']].values  
#.values is converting dataframe into array
print(X)
y = df[['Species']].values
print(y)

[[2.42000e+02 2.32000e+01 2.54000e+01 3.00000e+01 1.15200e+01 4.02000e+00]
 [2.90000e+02 2.40000e+01 2.63000e+01 3.12000e+01 1.24800e+01 4.30560e+00]
 [3.40000e+02 2.39000e+01 2.65000e+01 3.11000e+01 1.23778e+01 4.69610e+00]
 [3.63000e+02 2.63000e+01 2.90000e+01 3.35000e+01 1.27300e+01 4.45550e+00]
 [4.30000e+02 2.65000e+01 2.90000e+01 3.40000e+01 1.24440e+01 5.13400e+00]
 [4.50000e+02 2.68000e+01 2.97000e+01 3.47000e+01 1.36024e+01 4.92740e+00]
 [5.00000e+02 2.68000e+01 2.97000e+01 3.45000e+01 1.41795e+01 5.27850e+00]
 [3.90000e+02 2.76000e+01 3.00000e+01 3.50000e+01 1.26700e+01 4.69000e+00]
 [4.50000e+02 2.76000e+01 3.00000e+01 3.51000e+01 1.40049e+01 4.84380e+00]
 [5.00000e+02 2.85000e+01 3.07000e+01 3.62000e+01 1.42266e+01 4.95940e+00]
 [4.75000e+02 2.84000e+01 3.10000e+01 3.62000e+01 1.42628e+01 5.10420e+00]
 [5.00000e+02 2.87000e+01 3.10000e+01 3.62000e+01 1.43714e+01 4.81460e+00]
 [5.00000e+02 2.91000e+01 3.15000e+01 3.64000e+01 1.37592e+01 4.36800e+00]
 [3.40000e+02 2.95000e+01 3.20000e+01 3.73000e+01 1.39129e+01 5.07280e+00]
 [6.00000e+02 2.94000e+01 3.20000e+01 3.72000e+01 1.49544e+01 5.17080e+00]
 [6.00000e+02 2.94000e+01 3.20000e+01 3.72000e+01 1.54380e+01 5.58000e+00]
 [7.00000e+02 3.04000e+01 3.30000e+01 3.83000e+01 1.48604e+01 5.28540e+00]
 [7.00000e+02 3.04000e+01 3.30000e+01 3.85000e+01 1.49380e+01 5.19750e+00]
 [6.10000e+02 3.09000e+01 3.35000e+01 3.86000e+01 1.56330e+01 5.13380e+00]
 [6.50000e+02 3.10000e+01 3.35000e+01 3.87000e+01 1.44738e+01 5.72760e+00]
 [5.75000e+02 3.13000e+01 3.40000e+01 3.95000e+01 1.51285e+01 5.56950e+00]
 [6.85000e+02 3.14000e+01 3.40000e+01 3.92000e+01 1.59936e+01 5.37040e+00]
 [6.20000e+02 3.15000e+01 3.45000e+01 3.97000e+01 1.55227e+01 5.28010e+00]
 [6.80000e+02 3.18000e+01 3.50000e+01 4.06000e+01 1.54686e+01 6.13060e+00]
 [7.00000e+02 3.19000e+01 3.50000e+01 4.05000e+01 1.62405e+01 5.58900e+00]
 [7.25000e+02 3.18000e+01 3.50000e+01 4.09000e+01 1.63600e+01 6.05320e+00]
 [7.20000e+02 3.20000e+01 3.50000e+01 4.06000e+01 1.63618e+01 6.09000e+00]
 [7.14000e+02 3.27000e+01 3.60000e+01 4.15000e+01 1.65170e+01 5.85150e+00]
 [8.50000e+02 3.28000e+01 3.60000e+01 4.16000e+01 1.68896e+01 6.19840e+00]
 [1.00000e+03 3.35000e+01 3.70000e+01 4.26000e+01 1.89570e+01 6.60300e+00]
 [9.20000e+02 3.50000e+01 3.85000e+01 4.41000e+01 1.80369e+01 6.30630e+00]
 [9.55000e+02 3.50000e+01 3.85000e+01 4.40000e+01 1.80840e+01 6.29200e+00]
 [9.25000e+02 3.62000e+01 3.95000e+01 4.53000e+01 1.87542e+01 6.74970e+00]
 [9.75000e+02 3.74000e+01 4.10000e+01 4.59000e+01 1.86354e+01 6.74730e+00]
 [9.50000e+02 3.80000e+01 4.10000e+01 4.65000e+01 1.76235e+01 6.37050e+00]
 [4.00000e+01 1.29000e+01 1.41000e+01 1.62000e+01 4.14720e+00 2.26800e+00]
 [6.90000e+01 1.65000e+01 1.82000e+01 2.03000e+01 5.29830e+00 2.82170e+00]
 [7.80000e+01 1.75000e+01 1.88000e+01 2.12000e+01 5.57560e+00 2.90440e+00]
 [8.70000e+01 1.82000e+01 1.98000e+01 2.22000e+01 5.61660e+00 3.17460e+00]
 [1.20000e+02 1.86000e+01 2.00000e+01 2.22000e+01 6.21600e+00 3.57420e+00]
 [0.00000e+00 1.90000e+01 2.05000e+01 2.28000e+01 6.47520e+00 3.35160e+00]
 [1.10000e+02 1.91000e+01 2.08000e+01 2.31000e+01 6.16770e+00 3.39570e+00]
 [1.20000e+02 1.94000e+01 2.10000e+01 2.37000e+01 6.11460e+00 3.29430e+00]
 [1.50000e+02 2.04000e+01 2.20000e+01 2.47000e+01 5.80450e+00 3.75440e+00]
 [1.45000e+02 2.05000e+01 2.20000e+01 2.43000e+01 6.63390e+00 3.54780e+00]
 [1.60000e+02 2.05000e+01 2.25000e+01 2.53000e+01 7.03340e+00 3.82030e+00]
 [1.40000e+02 2.10000e+01 2.25000e+01 2.50000e+01 6.55000e+00 3.32500e+00]
 [1.60000e+02 2.11000e+01 2.25000e+01 2.50000e+01 6.40000e+00 3.80000e+00]
 [1.69000e+02 2.20000e+01 2.40000e+01 2.72000e+01 7.53440e+00 3.83520e+00]
 [1.61000e+02 2.20000e+01 2.34000e+01 2.67000e+01 6.91530e+00 3.63120e+00]
 [2.00000e+02 2.21000e+01 2.35000e+01 2.68000e+01 7.39680e+00 4.12720e+00]
 [1.80000e+02 2.36000e+01 2.52000e+01 2.79000e+01 7.08660e+00 3.90600e+00]
 [2.90000e+02 2.40000e+01 2.60000e+01 2.92000e+01 8.87680e+00 4.49680e+00]
 [2.72000e+02 2.50000e+01 2.70000e+01 3.06000e+01 8.56800e+00 4.77360e+00]
 [3.90000e+02 2.95000e+01 3.17000e+01 3.50000e+01 9.48500e+00 5.35500e+00]
 [2.70000e+02 2.36000e+01 2.60000e+01 2.87000e+01 8.38040e+00 4.24760e+00]
 [2.70000e+02 2.41000e+01 2.65000e+01 2.93000e+01 8.14540e+00 4.24850e+00]
 [3.06000e+02 2.56000e+01 2.80000e+01 3.08000e+01 8.77800e+00 4.68160e+00]
 [5.40000e+02 2.85000e+01 3.10000e+01 3.40000e+01 1.07440e+01 6.56200e+00]
 [8.00000e+02 3.37000e+01 3.64000e+01 3.96000e+01 1.17612e+01 6.57360e+00]
 [1.00000e+03 3.73000e+01 4.00000e+01 4.35000e+01 1.23540e+01 6.52500e+00]
 [5.50000e+01 1.35000e+01 1.47000e+01 1.65000e+01 6.84750e+00 2.32650e+00]
 [6.00000e+01 1.43000e+01 1.55000e+01 1.74000e+01 6.57720e+00 2.31420e+00]
 [9.00000e+01 1.63000e+01 1.77000e+01 1.98000e+01 7.40520e+00 2.67300e+00]
 [1.20000e+02 1.75000e+01 1.90000e+01 2.13000e+01 8.39220e+00 2.91810e+00]
 [1.50000e+02 1.84000e+01 2.00000e+01 2.24000e+01 8.89280e+00 3.29280e+00]
 [1.40000e+02 1.90000e+01 2.07000e+01 2.32000e+01 8.53760e+00 3.29440e+00]
 [1.70000e+02 1.90000e+01 2.07000e+01 2.32000e+01 9.39600e+00 3.41040e+00]
 [1.45000e+02 1.98000e+01 2.15000e+01 2.41000e+01 9.73640e+00 3.15710e+00]
 [2.00000e+02 2.12000e+01 2.30000e+01 2.58000e+01 1.03458e+01 3.66360e+00]
 [2.73000e+02 2.30000e+01 2.50000e+01 2.80000e+01 1.10880e+01 4.14400e+00]
 [3.00000e+02 2.40000e+01 2.60000e+01 2.90000e+01 1.13680e+01 4.23400e+00]
 [5.90000e+00 7.50000e+00 8.40000e+00 8.80000e+00 2.11200e+00 1.40800e+00]
 [3.20000e+01 1.25000e+01 1.37000e+01 1.47000e+01 3.52800e+00 1.99920e+00]
 [4.00000e+01 1.38000e+01 1.50000e+01 1.60000e+01 3.82400e+00 2.43200e+00]
 [5.15000e+01 1.50000e+01 1.62000e+01 1.72000e+01 4.59240e+00 2.63160e+00]
 [7.00000e+01 1.57000e+01 1.74000e+01 1.85000e+01 4.58800e+00 2.94150e+00]
 [1.00000e+02 1.62000e+01 1.80000e+01 1.92000e+01 5.22240e+00 3.32160e+00]
 [7.80000e+01 1.68000e+01 1.87000e+01 1.94000e+01 5.19920e+00 3.12340e+00]
 [8.00000e+01 1.72000e+01 1.90000e+01 2.02000e+01 5.63580e+00 3.05020e+00]
 [8.50000e+01 1.78000e+01 1.96000e+01 2.08000e+01 5.13760e+00 3.03680e+00]
 [8.50000e+01 1.82000e+01 2.00000e+01 2.10000e+01 5.08200e+00 2.77200e+00]
 [1.10000e+02 1.90000e+01 2.10000e+01 2.25000e+01 5.69250e+00 3.55500e+00]
 [1.15000e+02 1.90000e+01 2.10000e+01 2.25000e+01 5.91750e+00 3.30750e+00]
 [1.25000e+02 1.90000e+01 2.10000e+01 2.25000e+01 5.69250e+00 3.66750e+00]
 [1.30000e+02 1.93000e+01 2.13000e+01 2.28000e+01 6.38400e+00 3.53400e+00]
 [1.20000e+02 2.00000e+01 2.20000e+01 2.35000e+01 6.11000e+00 3.40750e+00]
 [1.20000e+02 2.00000e+01 2.20000e+01 2.35000e+01 5.64000e+00 3.52500e+00]
 [1.30000e+02 2.00000e+01 2.20000e+01 2.35000e+01 6.11000e+00 3.52500e+00]
 [1.35000e+02 2.00000e+01 2.20000e+01 2.35000e+01 5.87500e+00 3.52500e+00]
 [1.10000e+02 2.00000e+01 2.20000e+01 2.35000e+01 5.52250e+00 3.99500e+00]
 [1.30000e+02 2.05000e+01 2.25000e+01 2.40000e+01 5.85600e+00 3.62400e+00]
 [1.50000e+02 2.05000e+01 2.25000e+01 2.40000e+01 6.79200e+00 3.62400e+00]
 [1.45000e+02 2.07000e+01 2.27000e+01 2.42000e+01 5.95320e+00 3.63000e+00]
 [1.50000e+02 2.10000e+01 2.30000e+01 2.45000e+01 5.21850e+00 3.62600e+00]
 [1.70000e+02 2.15000e+01 2.35000e+01 2.50000e+01 6.27500e+00 3.72500e+00]
 [2.25000e+02 2.20000e+01 2.40000e+01 2.55000e+01 7.29300e+00 3.72300e+00]
 [1.45000e+02 2.20000e+01 2.40000e+01 2.55000e+01 6.37500e+00 3.82500e+00]
 [1.88000e+02 2.26000e+01 2.46000e+01 2.62000e+01 6.73340e+00 4.16580e+00]
 [1.80000e+02 2.30000e+01 2.50000e+01 2.65000e+01 6.43950e+00 3.68350e+00]
 [1.97000e+02 2.35000e+01 2.56000e+01 2.70000e+01 6.56100e+00 4.23900e+00]
 [2.18000e+02 2.50000e+01 2.65000e+01 2.80000e+01 7.16800e+00 4.14400e+00]
 [3.00000e+02 2.52000e+01 2.73000e+01 2.87000e+01 8.32300e+00 5.13730e+00]
 [2.60000e+02 2.54000e+01 2.75000e+01 2.89000e+01 7.16720e+00 4.33500e+00]
 [2.65000e+02 2.54000e+01 2.75000e+01 2.89000e+01 7.05160e+00 4.33500e+00]
 [2.50000e+02 2.54000e+01 2.75000e+01 2.89000e+01 7.28280e+00 4.56620e+00]
 [2.50000e+02 2.59000e+01 2.80000e+01 2.94000e+01 7.82040e+00 4.20420e+00]
 [3.00000e+02 2.69000e+01 2.87000e+01 3.01000e+01 7.58520e+00 4.63540e+00]
 [3.20000e+02 2.78000e+01 3.00000e+01 3.16000e+01 7.61560e+00 4.77160e+00]
 [5.14000e+02 3.05000e+01 3.28000e+01 3.40000e+01 1.00300e+01 6.01800e+00]
 [5.56000e+02 3.20000e+01 3.45000e+01 3.65000e+01 1.02565e+01 6.38750e+00]
 [8.40000e+02 3.25000e+01 3.50000e+01 3.73000e+01 1.14884e+01 7.79570e+00]
 [6.85000e+02 3.40000e+01 3.65000e+01 3.90000e+01 1.08810e+01 6.86400e+00]
 [7.00000e+02 3.40000e+01 3.60000e+01 3.83000e+01 1.06091e+01 6.74080e+00]
 [7.00000e+02 3.45000e+01 3.70000e+01 3.94000e+01 1.08350e+01 6.26460e+00]
 [6.90000e+02 3.46000e+01 3.70000e+01 3.93000e+01 1.05717e+01 6.36660e+00]
 [9.00000e+02 3.65000e+01 3.90000e+01 4.14000e+01 1.11366e+01 7.49340e+00]
 [6.50000e+02 3.65000e+01 3.90000e+01 4.14000e+01 1.11366e+01 6.00300e+00]
 [8.20000e+02 3.66000e+01 3.90000e+01 4.13000e+01 1.24313e+01 7.35140e+00]
 [8.50000e+02 3.69000e+01 4.00000e+01 4.23000e+01 1.19286e+01 7.10640e+00]
 [9.00000e+02 3.70000e+01 4.00000e+01 4.25000e+01 1.17300e+01 7.22500e+00]
 [1.01500e+03 3.70000e+01 4.00000e+01 4.24000e+01 1.23808e+01 7.46240e+00]
 [8.20000e+02 3.71000e+01 4.00000e+01 4.25000e+01 1.11350e+01 6.63000e+00]
 [1.10000e+03 3.90000e+01 4.20000e+01 4.46000e+01 1.28002e+01 6.86840e+00]
 [1.00000e+03 3.98000e+01 4.30000e+01 4.52000e+01 1.19328e+01 7.27720e+00]
 [1.10000e+03 4.01000e+01 4.30000e+01 4.55000e+01 1.25125e+01 7.41650e+00]
 [1.00000e+03 4.02000e+01 4.35000e+01 4.60000e+01 1.26040e+01 8.14200e+00]
 [1.00000e+03 4.11000e+01 4.40000e+01 4.66000e+01 1.24888e+01 7.59580e+00]
 [2.00000e+02 3.00000e+01 3.23000e+01 3.48000e+01 5.56800e+00 3.37560e+00]
 [3.00000e+02 3.17000e+01 3.40000e+01 3.78000e+01 5.70780e+00 4.15800e+00]
 [3.00000e+02 3.27000e+01 3.50000e+01 3.88000e+01 5.93640e+00 4.38440e+00]
 [3.00000e+02 3.48000e+01 3.73000e+01 3.98000e+01 6.28840e+00 4.01980e+00]
 [4.30000e+02 3.55000e+01 3.80000e+01 4.05000e+01 7.29000e+00 4.57650e+00]
 [3.45000e+02 3.60000e+01 3.85000e+01 4.10000e+01 6.39600e+00 3.97700e+00]
 [4.56000e+02 4.00000e+01 4.25000e+01 4.55000e+01 7.28000e+00 4.32250e+00]
 [5.10000e+02 4.00000e+01 4.25000e+01 4.55000e+01 6.82500e+00 4.45900e+00]
 [5.40000e+02 4.01000e+01 4.30000e+01 4.58000e+01 7.78600e+00 5.12960e+00]
 [5.00000e+02 4.20000e+01 4.50000e+01 4.80000e+01 6.96000e+00 4.89600e+00]
 [5.67000e+02 4.32000e+01 4.60000e+01 4.87000e+01 7.79200e+00 4.87000e+00]
 [7.70000e+02 4.48000e+01 4.80000e+01 5.12000e+01 7.68000e+00 5.37600e+00]
 [9.50000e+02 4.83000e+01 5.17000e+01 5.51000e+01 8.92620e+00 6.17120e+00]
 [1.25000e+03 5.20000e+01 5.60000e+01 5.97000e+01 1.06863e+01 6.98490e+00]
 [1.60000e+03 5.60000e+01 6.00000e+01 6.40000e+01 9.60000e+00 6.14400e+00]
 [1.55000e+03 5.60000e+01 6.00000e+01 6.40000e+01 9.60000e+00 6.14400e+00]
 [1.65000e+03 5.90000e+01 6.34000e+01 6.80000e+01 1.08120e+01 7.48000e+00]
 [6.70000e+00 9.30000e+00 9.80000e+00 1.08000e+01 1.73880e+00 1.04760e+00]
 [7.50000e+00 1.00000e+01 1.05000e+01 1.16000e+01 1.97200e+00 1.16000e+00]
 [7.00000e+00 1.01000e+01 1.06000e+01 1.16000e+01 1.72840e+00 1.14840e+00]
 [9.70000e+00 1.04000e+01 1.10000e+01 1.20000e+01 2.19600e+00 1.38000e+00]
 [9.80000e+00 1.07000e+01 1.12000e+01 1.24000e+01 2.08320e+00 1.27720e+00]
 [8.70000e+00 1.08000e+01 1.13000e+01 1.26000e+01 1.97820e+00 1.28520e+00]
 [1.00000e+01 1.13000e+01 1.18000e+01 1.31000e+01 2.21390e+00 1.28380e+00]
 [9.90000e+00 1.13000e+01 1.18000e+01 1.31000e+01 2.21390e+00 1.16590e+00]
 [9.80000e+00 1.14000e+01 1.20000e+01 1.32000e+01 2.20440e+00 1.14840e+00]
 [1.22000e+01 1.15000e+01 1.22000e+01 1.34000e+01 2.09040e+00 1.39360e+00]
 [1.34000e+01 1.17000e+01 1.24000e+01 1.35000e+01 2.43000e+00 1.26900e+00]
 [1.22000e+01 1.21000e+01 1.30000e+01 1.38000e+01 2.27700e+00 1.25580e+00]
 [1.97000e+01 1.32000e+01 1.43000e+01 1.52000e+01 2.87280e+00 2.06720e+00]
 [1.99000e+01 1.38000e+01 1.50000e+01 1.62000e+01 2.93220e+00 1.87920e+00]]
[[2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [3]
 [6]
 [6]
 [6]
 [6]
 [6]
 [6]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [5]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [7]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]
 [4]]

In [12]:
print(y.shape)

(159, 1)

# DATASET SPLITING

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [14]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(127, 6)
(127, 1)
(32, 6)
(32, 1)

# MODEL

In [15]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
y_pred = model.predict(X_test)

In [24]:
print(X_test[0:1])
sample_predict=model.predict(X_test[0:1])
print(sample_predict)

[[390.    27.6   30.    35.    12.67   4.69]]
[[3.43064931]]

# MODEL EVALUATION

In [ ]:
#Comparison
print('- y_pred : ')
print(y_pred)
print('- y_test : ')
print(y_test)

In [ ]:
print(y_pred.sum().mean())
print(y_test.sum().mean())
print("So called Accuracy ", y_pred.sum().mean()/y_test.sum().mean())

In [ ]:
y_pred/y_test